<h3 style="margin-top: 6rem; margin-left: 2rem;">
  Horizontal Example
</h3>

<div style="margin-left: 4rem;">
  <ngx-number-spinner [value]="1"
                      (change)="change($event)"
                      [direction]="'horizontal'"></ngx-number-spinner>
</div>

<h3 style="margin-top: 2rem; margin-left: 2rem;">
  Vertical Example
</h3>

<div style="margin-left: 4rem;">
  <ngx-number-spinner style="margin-left: 4rem;"
                      [value]="2"
                      (change)="change($event)"
                      [direction]="'vertical'"></ngx-number-spinner>
</div>

<h3 style="margin-top: 2rem; margin-left: 2rem;">
  With <b>[min]="1"</b> and <b>[max]="2"</b>
</h3>

<div style="margin-left: 4rem;">
  <ngx-number-spinner style="margin-left: 4rem;"
                      [value]="4"
                      (change)="change($event)"
                      [min]="1"
                      [max]="9"></ngx-number-spinner>
</div>

<h3 style="margin-top: 2rem; margin-left: 2rem;">
  With <b>[step]="5"</b>
</h3>

<div style="margin-left: 4rem;">
  <ngx-number-spinner (change)="change($event)"
                      [step]="5"></ngx-number-spinner>
</div>

<h3 style="margin-top: 2rem; margin-left: 2rem;">
  In a form
</h3>

<div style="margin-left: 4rem;">
  <form [formGroup]="form"
        (submit)="submit()">
      <ngx-number-spinner
        formControlName="price">
      </ngx-number-spinner>
  </form>
</div>
